.list-empty {
  text-align: center;
  color: #ccc;
}
.list .list-item {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.list .list-item::after {
  display: table;
  clear: both;
  content: '';
}
.list .list-item:last-child {
  border-bottom: none;
}
.list .list-item a::after {
  display: table;
  clear: both;
  content: '';
}
.list .list-item .item-title,
.list .list-item .item-description,
.list .list-item .item-meta {
  margin: 0;
  padding: 0;
  float: right;
  width: calc(100% - 160px - 10px);
  margin-left: calc(160px + 10px);
}
.list .list-item .item-title {
  font-size: 16px;
  font-weight: bold;
  color: #00a595;
  padding-top: 28px;
  padding-bottom: 10px;
  line-height: 1;
}
.list .list-item .item-description {
  text-align: justify;
  max-height: 130px;
  overflow: hidden;
}
.list .list-item .item-meta {
  padding: 10px 0;
  font-size: 13px;
  color: #6c7978;
}
.list .list-item .item-cover {
  position: absolute;
  width: 160px;
  padding: 8px 0;
}

.list-footer {
  background-color: #f1f1f1;
  padding: 10px 5px;
  border-top: 1px solid #ccc;
}
.list-footer button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}

@media only screen and (min-width: 720px) {
  .list {
    padding: 0 20px;
  }
  .list::after {
    content: '';
    display: table;
    clear: both;
  }
  .list .list-item,
  .list .list-item:last-child {
    position: relative;    
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(173,168,168,.1), 0 1px 1px rgba(182,180,180,.1);
  }
  .list .list-item,
  .list .list-item:nth-of-type(n) {
    width: calc(33.33% - 26.67px); /* 33.33% - (2 * 40 / 3)px = 26.67px */
    margin: 0 40px 45px 0;
    clear: none;
  }
  .list .list-item:nth-of-type(3n) {
    margin-right: 0;
  }
  .list .list-item:nth-of-type(3n + 1) {
    clear: left;
  }
  .list .list-item .item-title,
  .list .list-item .item-description,
  .list .list-item .item-meta,
  .list .list-item .item-cover {
    position: relative;
    width: 100%;
    margin: 0;
    float: none;
  }
  .list .list-item .item-title {
    padding: 20px 0;
    overflow: hidden;
    transition: all 0.3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
  }
  .list .list-item .item-description {
    max-height: none;
    height: 200px;
    padding: 10px 0;
  }
  .list .list-item .item-meta {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .list .list-item .item-cover {
    padding: 0;
    height: 160px;
    transition: all 0.3s ease;
  }
  .list .list-item .item-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .list .list-item .item-title:hover,
  .list .list-item .item-cover:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .list-footer {
    border: none;
    padding: 0 20px 25px 20px;
    height: auto;
  }
  .list-footer button {
    padding: 15px 0;
    box-shadow: 0 1px 0 rgba(173,168,168,.1), 0 1px 1px rgba(182,180,180,.1);
  }
  .list-footer button:hover {
    opacity: 0.7;
  }
}
