.container {
  position: absolute;
  right: 0;
  left: 0;
  top: 108px;
  max-width: 100%;
}

@media only screen and (min-width: 720px) {
  .container {
    position: static;
    min-height: calc(100vh - 160px - 65px); /* header 160px ; footer 65px */
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
