html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.8;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: table;
}
input,
button {
  outline: none;
}

@media only screen and (min-width: 720px) {
  body {
    background-color: #f1f1f1;
    overflow-y: scroll;
  }
}